<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <!-- for our font -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>MusicFinder</title>
        <link rel="stylesheet" href="public/musicfinder.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>MusicFinder</h1>
            </div>
            <div class="search-bar">
                <form th:action="@{/listing}" method="listing">
                    <input type="text" name="text" placeholder="Search for concerts">
                    <button type="submit">Search</button>
                </form>
            </div>
            <h2>Here are the latest concerts nearby</h2>
            <div class="concert-list">
                <div class="concert-card" th:each="listing : ${listings}">
                    <div class="text" th:text="${listing.getText()}">
                        Text of the listing
                    </div>
                    <div class="metadata">
                        <span class="author" th:text="${listing.getUser().getName()}">Author's name</span>
                        <span class="date" th:text="${listing.getTimestamp()}">Timestamp</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
