<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>MusicFinder - Where music meets you</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="public/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="public/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="public/css/bootstrap.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="public/css/style.css" rel="stylesheet">
    </head>

    <body>
        <!-- Spinner Start -->
        <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End -->

        <!-- Navbar start -->
        <div class="container-fluid fixed-top">
            <div class="container topbar bg-primary d-none d-lg-block">
                <div class="d-flex justify-content-between">
                    <div class="top-info ps-2">
                        <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="mailto:100451775@alumnos.uc3m.es" class="text-white">100451775@alumnos.uc3m.es</a></small>
                        <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="mailto:100451962@alumnos.uc3m.es" class="text-white">100451962@alumnos.uc3m.es</a></small>
                    </div>
                    <div class="top-link pe-2">
                        <a href="https://www.it.uc3m.es/jaf/cw/" class="text-white"><small class="text-white ms-2">uc3m - Computación Web</small></a>
                    </div>
                </div>
            </div>
            <div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a th:href="@{/}" class="navbar-brand"><h1 class="text-primary display-6">MusicFinder</h1></a>
                    <!-- In case the screen is too narrow, the navbar will collapse to the hamburger icon on the top right -->
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <!--
                                my_favorite_events (the ones the user has marked as favorite) (ANY USER)
                                recommended (recieved from other users) (ANY USER)
                                my_recommendations (the ones the user has recommended to others) (ANY USER)
                                create_event page (only shown if organizer) (ORGANIZER)
                                my_events page (the ones the user has created) (ORGANIZER & USERs that have created events)
                                data dashboard (only shown if admin) (ADMIN)
                            -->
                            <!-- Menu navigation links ONLY SHOWN if logged in, and of your type -->
                            <a th:if="${role == 'USER' or role == 'ORGANIZER' or role == 'ADMIN'}" th:href="@{/my_favorite_events}" class="nav-item nav-link">My Favorites</a>
                            <a th:if="${role == 'USER' or role == 'ORGANIZER' or role == 'ADMIN'}" th:href="@{/recommended}" class="nav-item nav-link">Recommended</a>
                            <a th:if="${role == 'USER' or role == 'ORGANIZER' or role == 'ADMIN'}" th:href="@{/my_recommendations}" class="nav-item nav-link">My Recommendations</a>
                            <a th:if="${role == 'ORGANIZER' or role == 'ADMIN'}" th:href="@{/my_events}" class="nav-item nav-link">My Events</a> 
                            <a th:if="${role == 'ORGANIZER' or role == 'ADMIN' or createdEvent == true}" th:href="@{/create_event}" class="nav-item nav-link">Create Event</a>
                            <!-- OR sec:authorize="hasRole('USER')" that previously made an event -->
                            <!-- TODO Custom Thymeleaf Expression below -->
                            <!-- <a sec:authorize="hasRole('ORGANIZER') or @customSecurityExpressions.hasCreatedAnEvent()"
                                th:href="@{/my_events}" class="nav-item nav-link">My Events</a> -->
                            <a th:if="${role == 'ADMIN'}" th:href="@{/data_dashboard}" class="nav-item nav-link">Data Dashboard</a>
                        </div>
                        <div class="d-flex m-3 me-0">
                            <!-- sign in and sign up buttons here if not logged in -->
                            <a sec:authorize="isAnonymous()" th:href="@{/login}" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa text-primary"></i>Log In</a>
                            <a sec:authorize="isAnonymous()" th:href="@{/signup}" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa text-primary"></i>Sign Up</a>
                            
                            <!-- User icon and signout button ONLY SHOWN if logged in -->
                            <!-- <a sec:authorize="isAuthenticated()" th:href="@{/user/{username}(username=${ username.findByUsername(principal.getName()) })}" class="my-auto">
                                <i class="fas fa-user fa-2x"></i>
                            </a> -->
                            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" >
                                <input type="submit" value="Sign Out" class="btn border border-secondary rounded-pill px-3 text-primary"/>
                            </form>
                            
                            <!-- OLD USER BUTTON -->
                            <!-- <form th:action="@{/user}" method="post" >
                                <input type="submit" class="fas fa-user fa-2x"/>
                            </form> -->
                            <!-- user name below user icon if logged in ??????????? -->
                            <!--
                            <div th:text="${#authentication.principal.username}">
                                User name here
                            </div>
                            -->
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->

        <!-- Hero Start -->
        <div class="container-fluid py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <h1 class="mb-5 display-3 text-primary">Your favorite events:</h1>
                </div>
            </div>
        </div>
        <!-- Hero End -->

        <!--
        <div class="messages">
            <div class="message" th:each="message : ${messages}">
                <div class="text" th:text="${message.getText()}">
                    Text of the post
                </div>
                <div class="metadata">
                    <span class="author" th:text="${message.getUser().getName()}">Author's name</span>
                    <span class="date" th:text="${message.getTimestamp()}">Timestamp</span>
                    <a th:href="@{/message/{id}(id=${message.getId()})}">Go to the message</a>
                    <a th:href="@{/user/{id}(id=${message.getUser().getId()})}">View user page</a>
                </div>
            </div>
        </div>
        -->

        <!-- Recommended Events display Start-->
        <div sec:authorize="isAuthenticated()" class="container-fluid fruite py-5">
            <div class="container py-5">
                <div class="tab-class text-center">
                    <div class="row g-4">
                        <div class="col-lg-4 text-start">
                            <h1>Recommendations</h1>
                        </div>
                    </div>
                    <!-- Here we need to use the thymeleaf elements to show the events dynamically -->
                    <!-- first show recommendations, then show all events in general -->
                    <div class="tab-content">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="row g-4">
                                    <!-- AUTOGENERATE WITH THYMELEAF -->
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img src="public/img/single-item.jpg" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Fruits</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <h4>Grapes</h4>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0">$4.99 / kg</p>
                                                    <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END AUTOGENERATED BLOCK -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
        <!-- Recommended Events display End-->

        <!-- Footer & Copyright Start -->
        <div class="container-fluid copyright bg-dark py-4">
            <div class="container">
                <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
                    <div class="col-lg-3">
                        <a href="#">
                            <h1 class="text-primary mb-0">MusicFinder</h1>
                            <p class="text-secondary mb-0">Where music meets you</p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>MusicFinder</a>, All right reserved.</span>
                    </div>
                    <div class="col-md-6 my-auto text-center text-md-end text-white">
                        <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                        <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                        <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                        Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a class="border-bottom" href="https://themewagon.com">ThemeWagon</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer & Copyright End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="public/lib/easing/easing.min.js"></script>
        <script src="public/lib/waypoints/waypoints.min.js"></script>
        <script src="public/lib/lightbox/js/lightbox.min.js"></script>
        <script src="public/lib/owlcarousel/owl.carousel.min.js"></script>

        <!-- Template Javascript -->
        <script src="public/js/main.js"></script>
    </body>
</html>
