<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>MusicFInde - Your page</title>
        <link rel="stylesheet" type="text/css" th:href="@{../public/microblog.css}">
    </head>
    <body>
        <header>
        <h1>User page</h1>
        <a th:href="@{/}">Home</a>
        </header>
        <section  class="user_info">    
            <figure class = "imagen_barney">
            <img class="imagen_barney" src="public/Barney.png"
                alt="User profile photo">
                <input id="seguir_button" type="button" value="Sigueme">
                <br>
                <figcaption id="fig_username">Nombre de usuario:</figcaption>
                <div th:text="${#authentication.principal.username}">
                    User name here
                </div>
                <!-- Para tener el nombre de usuario que está loggeado -->
                <!-- <div th:text="${#authentication.principal.username}">
                    User name here
                </div> -->

                <br>
            </figure> 
        <!-- Ej 7 p8: Formularios para seguir y dejar de seguir a usuarios-->
        <form th:if="${followButton.equals('follow')}"
        th:action="@{/follow/{user_id}(user_id=${user.getId()})}" method="post">
        <input type="submit" value="Follow">
        </form>
        <form th:if="${followButton.equals('unfollow')}"
            th:action="@{/unfollow/{user_id}(user_id=${user.getId()})}" method="post">
            <input type="submit" value="Unfollow">
        </form>
        <!-- ------------------------------------------------------------------ -->
        </section>
        <!--Lista de mensajes:-->
        <div class="messages">
            <div class="message" th:each="message : ${messages}">
                <div class="text" th:text="${message.getText()}">
                    Text of the post
                </div>
                <div class="metadata">
                    <span class="author" th:text="${message.getUser().getName()}">Author's name</span>
                    <span class="date" th:text="${message.getTimestamp()}">Timestamp</span>
                    <!-- <a th:href="@{/message/{id}(id=${message.getId()})}">Go to the message</a> -->
                    <a th:href="@{/user/{id}(id=${message.getUser().getId()})}">View user page</a>
                </div>
            </div>
        </div>
    </body>
</html>
